
<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
          <form #myform="ngForm">
        <div class="mb-3">
          <h1>Products management</h1>
          </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" [(ngModel)]="product.title" class="form-control" id="title" placeholder="your product title">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" [(ngModel)]="product.productDescription" id="description" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="brand" class="form-label">Product brand</label>
            <input type="text" name="brand" class="form-control" [(ngModel)]="product.productBrand" id="brand" placeholder="your product brand">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Product price</label>
            <input type="number" name="price" class="form-control" [(ngModel)]="product.price" id="price" placeholder="your product price">
          </div>
          <div class="mb-3">
              <input type="submit" (click)="addprod()" value="add product" class="btn btn-outline-dark">
          </div>
        </form>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <tr  > <th>#</th><th>Title</th><th>Description</th><th>Brand</th><th>Price</th><th>Action</th></tr>
     <tr *ngFor="let pr of products"><td>{{pr.id}}</td><td>{{pr.title}}</td><td>{{pr.productDescription}}</td><td>{{pr.productBrand}}</td><td>{{pr.price}}</td><td><button class="btn btn-outline-danger" (click)="delete(pr.id)">Delete</button></td></tr>
 
 
 
 </table>
 