
<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
          <form #myform="ngForm">
        <div class="mb-3">
          <h1>Products management</h1>
          </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="your product title">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="brand" class="form-label">Product brand</label>
            <input type="text" class="form-control" id="brand" placeholder="your product brand">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Product price</label>
            <input type="number" class="form-control" id="price" placeholder="your product price">
          </div>
          <div class="mb-3">
              <input type="submit" value="add product" class="btn btn-outline-dark">
          </div>
        </form>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
  <app-readprod></app-readprod>